{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/Account.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
  <div class="container-fluid">
    
    <div id="account">
     <h2>Hello <span>Min</span></h2>
     <button id="loginbtn">Login</button>
     <button id="signupbtn">Sign Up</button>
    </div>
    
    <div id="popup-login">
      <div id="popup-content-login">
        <h1>Login</h1>
          
          <div class="input-box">
           <input type="email" id="email-login" placeholder="Email" >
          <i class='bx bxs-user'></i>
          </div>
          
          <div class="input-box">
          <input type="password" id="password-login" placeholder="Password" >
          <i class='bx bxs-lock-alt'></i>
          </div>
          
          <div class="remember-forgot">
            <div id="showPassword">
          <input type="checkbox" id="show">
          <label for="checkbox">Show Password</label>
            </div>
            <a href="#">Forgot Password</a>
          </div>
          
          <button id="login">Login</button>
          
         <p>Don't have an account?<span id="noAccount">SIGN UP</span></p>
        
      </div>
    </div>
    
    <div id="popup-signup">
      
      <h1>Sign-Up</h1>
  
      <div id="full-name">
       <label for="fullname">Full Name</label>
       <input type="text" id="fullname" required="">
       <button id="namebutton">Next</button>
      </div>

      <div id="birth-date">
        <label for="inputs">Birth Date</label>
       <div class="inputs">
       <input type="number" id="birthday" required="" placeholder="Day">
       <input type="number" id="birthmonth" required="" placeholder="Month">
       <input type="number" id="birthyear" required="" placeholder="Year">
       </div>
       <button id="birthbutton">Next</button>
      </div>
      
      <div id="sex">
        <label for="gender">Gender</label>
        <select name="gender" id="gender">
          <option value="">Choose One</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Not express">Not Express</option>
        </select>
        <button id="sexbutton">Next</button>
      </div>
      
      <div id="email">
        <label for="email">Email</label>
        <input type="email" id="email-input">
        
        <button id="emailbutton">Next</button>
      </div>
      
      <div id="password">
        <label for="password">Password</label>
        <input type="password" id="password-input" required="">
          <div id="showPassword">
          <input type="checkbox" id="showPassw">
          <label for="checkbox">Show Password</label>
            </div>
        <button id="passbutton">Apply</button>
      </div>
      
    </div>
 
  </div>
  
<script src="{% static 'js/Account.js' %}"></script>
</body>
</html>