{% extends 'base.html' %}

{% load static %}

{% block content %}
 
  <div id="noCart" class="container">
       <div id="content">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAiQrWU1_XPl-elP1fso3jrcZDEk_d4x-wlg&s" alt="noCartImage">
    <h3>You don't have any cart!</h3>
  </div>
   <a href="http://127.0.0.1:8000/">
     <button id="backProducts">
     Back To The Products
   </button>
   </a>
 </div>
 
  <div id="haveCart">
   <table id="cart-table">
    <thead>
     <tr>
      <th >No.</th>
      <th class="hName">Name</th>
      <th >Price</th>
      <th class="amo">Amount</th>
      <th class="hame">Total</th>
     </tr>
    </thead>
    <tbody>
      
     <!-- table data will appear -->
    </tbody>
    <tfoot>
       <tr id="order">
       <td colspan="3" ><a><button id="orderbtn">Order</button></a></td>
       <td>Total:</td>       
       <td id="total">$ 0.00</td>
       </tr>
       </tfoot>
   </table>
  </div>
   <script src="{% static 'js/Cart.js' %}"></script>
{% endblock %}

