{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid">
    
    <div id="product-row" class="row">
      {% for product in products %}
      <div class="col-md-4 card"  data-product-name="{{product.name}}">
        <div class="custom-card-size">
        <input type="hidden" value="{{product.id}}" class="proId">          
          <div class="img">
            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
          </div>
          <div class="disco">
         <span class="card-text discount">{{ product.discount }} %</span>   
          </div>
          <div class="card-body">
            <h5 class="card-title" id="product-name">{{ product.name }}</h5>
            <p class="card-text color">Color - {{ product.color }}</p>
            <p class="card-text size">{{ product.size }}</p>
            <div class="dis">
            <p class="card-text price">$ {{ product.price }} </p>
            <p class="card-text disOut">$ {{ product.discounted_price }}</p>
            </div>
            <p class="card-text stock">{{ product.stock }} stock left</p>   
            <p class="card-text advertise">{{ product.advertise }}</p>
            <a class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>
{% endblock %}
