{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="productDetail">
  <input type="hidden" value="{{product.id}}" id="mainId">
  <div class="imgDetail">
   <img id="imageDetail" src="{{product.image_url}}">
  </div>
  <div class="bodyDetail">
    <h4 id="titleDetail">{{product.name}}</h4>
    <p id="colorDetail">{{product.color}}</p>
    <p id="sizeDetail">{{product.size}}</p>
    <p id="discountOut">{{product.discount}} %</p>
    <div class="discountContainer">
     <p id="priceDetail">$ {{product.price}}</p>     
     <p id="discountDetail">$ {{product.discounted_price}}</p>  
    </div>
    <p id="stockDetail">{{product.stock}} stock left</p>    
    <p id="advertiseDetail">{{product.advertise}}</p>
  </div>
  <div class="btns">
    <a href="{% url 'return' %}"><button id="btnOrder">Order</button></a>
    <a href="{% url 'products' %}"><button id="btnack">Back to Page</button></a>
  </div>
</div>


<div id="related">
 <h2>Related Products</h2>
 <hr>
    <div id="product-row" class="row">
      {% for product in related_products %}
      <div class="col-md-4 card"  data-product-name="{{product.name}}">
        <div class="custom-card-size">
          <div class="img">
            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
          </div>
          <input type="hidden" value="{{product.id}}" class="proId">
          <div class="discoun">
       <span class="card-text discount">{{ product.discount }} %</span>   
          </div>
          <div class="card-body">
            <h5 class="card-title" id="product-name">{{ product.name }}</h5>
            <p class="card-text">Color - {{ product.color }}</p>
            <p class="card-text">Size - {{ product.size }}</p>
            <div class="dis">
            <p class="card-text price">$ {{ product.price }} </p>
            <p class="card-text discounted_price">$ {{product.discounted_price}}</p>
            </div>
            <p class="card-text stock">{{ product.stock }} stock left</p>   
            <p class="card-text advertise">{{ product.advertise }}</p>
            <a class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
</div>
 <script src="{% static 'js/base.js' %}"></script>
{% endblock %}
