#noCart{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#noCart h3{
  margin-top: 5px;
  font-family: Arial;
}

#noCart a{
  text-decoration-line: none;
  width: 50%;
  padding: 0;
  margin-top: 10px;
}

#backProducts{
  width: 100%;
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
  padding: 10px;
  background: #1b53ff;
  color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 5px #00000086;
}

#backProducts:hover{
  background: #0032cd;
  color: #fff;
}

#haveCart{
  padding: 10px;
  display: flex;
  justify-content: center;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

th{
  padding: 10px;
  width: 15%;
}

.amo{
  width: 300px;
}

.amount{
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-between;
}

th:first-child{
  width: 7%;
}

.hName{
  width: 250px;
}

.hame{
  width: 200px;
}

tr td a{
  text-decoration-line: none;
}

tr td a #orderbtn{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background: #001ec1;
  color: #fff;
}

tr td a #orderbtn:hover{
  background: #00137a;
}

.decrease-btn, .increase-btn{
  background: #0022dc;
}