#noOrder{
  height: 500px;
  width: 100%;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#noOrder #content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#noOrder h3{
  margin-top: 10px;
  font-family: Arial;
}

#noOrder a{
  text-decoration-line: none;
  width: 50%;
  padding: 0;
  margin-top: 10px;
}

#backToProducts{
  width: 100%;
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
  padding: 10px;
  background: #1b53ff;
  color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 5px #00000086;
}

#backToProducts:hover{
  background: #0032cd;
  color: #fff;
}

tfoot td button{
  padding: 10px;
  font-size: 20px;
  width: 100%;
  margin: 0;
  background: #0022dc;
  color: #fff;
}

tfoot td button:hover{
  background: #001796;
}

#popupCancel{
  display: none;
}

#orderTable tbody tr td .amount{
  text-align: center;
}

#orderTable tbody tr td .cancel{
  color: #fff;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  background: #1539ff;
  display: block;
}

#orderTable tbody tr td .cancel:hover{
  background: #001bae;
}

#orderTable tbody tr td:last-child{
  padding: 0;
}

#can{
  background: #1539ff;
  color: #fff;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  background: #1539ff;
  display: block;
  padding: 10px;
}

#can:hover{
  background: #001bae;
}